<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316305474905-d9bq9t5mumiqlbcvfig84kentoobk5od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316305474905-d9bq9t5mumiqlbcvfig84kentoobk5od</string>
	<key>API_KEY</key>
	<string>AIzaSyBD5PV9skScSwOt4XpQfwSNQ-0aDnvnjvM</string>
	<key>GCM_SENDER_ID</key>
	<string>316305474905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.cpscomAdmin</string>
	<key>PROJECT_ID</key>
	<string>cps-com-c90aa</string>
	<key>STORAGE_BUCKET</key>
	<string>cps-com-c90aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316305474905:ios:0f40cf123b5ffb730c7848</string>
</dict>
</plist>